.error-404 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 31vh;
  height: 100vh;
  background-image: url("../img/404-wave.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 62px;
    height: 62px;

    @media (max-width: 650px) {
      width: 51px;
      height: 51px;
    }
  }

  &__header {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      &:first-child {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;

        @media (max-width: 650px) {
          font-size: 24px;
          line-height: 29px;
        }
      }

      &:last-child {
        font-weight: 700;
        font-size: 144px;
        line-height: 176px;
        @include gradient-text;

        @media (max-width: 650px) {
          font-size: 96px;
          line-height: 117px;
        }
      }
    }
  }

  &__paragraph {
    font-size: 18px;
    line-height: 26px;
    color: #e4e4e4;
    padding-bottom: 40px;

    @media (max-width: 650px) {
      font-size: 14px;
      line-height: 24px;
    }

    a {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      @media (max-width: 650px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &__social-media {
    display: flex;
    width: 205px;
    justify-content: space-between;

    @media (max-width: 650px) {
      width: 172px;
    }
  }

  &__social-media-item {
    width: 25px;
    height: 25px;
  }
}
