.article-main {
  margin-top: 126px;
  background-image: url("../img/wave-article.svg");
  background-repeat: no-repeat;
  background-position: top right;

  @media (max-width: 650px) {
    background: none;
    margin-top: 76px;
  }

  &__content {
    width: 83%;
    margin: 0 auto;
    padding: 100px 0 150px;

    @media (max-width: 650px) {
      width: 100%;
      padding: 40px 0 30px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font-feature-settings: "salt" on, "liga" off;
    width: 62%;

    @media (max-width: 650px) {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__tags {
    padding: 40px 0 30px;
    display: flex;
    gap: 10px;

    @media (max-width: 650px) {
      padding: 20px 0 30px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 650px) {
      gap: 10px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 650px) {
      font-size: 14px;
    }

    &:first-of-type {
      padding: 30px 0;

      @media (max-width: 650px) {
        padding: 35px 0 10px;
      }
    }

    &:nth-of-type(2) {
      padding-bottom: 30px;

      @media (max-width: 650px) {
        padding-bottom: 10px;
      }
    }
  }

  &__img {
    padding: 50px 0;

    @media (max-width: 650px) {
      padding: 35px 0;
    }
  }

  &__share {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 650px) {
      padding-top: 35px;
    }
  }

  &__share-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;

    .gradient {
      @include gradient-text;
    }

    @media (max-width: 650px) {
      font-size: 18px;
    }
  }

  &__social-media {
    display: flex;
    gap: 28px;

    @media (max-width: 650px) {
      gap: 18px;
    }
  }

  &__social-media-item {
    width: 25px;
    height: 25px;

    @media (max-width: 650px) {
      width: 20px;
      height: 20px;
    }
  }
}
