.articles-home {
  &__container {
    padding-bottom: 150px;

    @media (max-width: 650px) {
      padding-bottom: 80px;
    }
  }

  &__articles {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    flex-wrap: wrap;

    @media (max-width: 1000px) {
      gap: 20px;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
    }
  }

  &__all-articles-link-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__all-articles-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    @include gradient-text;
    border-bottom: 1px solid #d776f5;

    @media (max-width: 650px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__article {
    width: 32%;

    @media (max-width: 1000px) {
      width: 48%;
    }

    @media (max-width: 650px) {
      width: 100%;
    }

    &:first-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;

      @media (max-width: 1000px) {
        width: 48%;
        display: block;
        padding-bottom: 0;
      }

      @media (max-width: 650px) {
        width: 100%;
      }

      .article-img {
        width: 49%;
        overflow: hidden;

        img {
          transition: 0.3s;
        }

        @media (max-width: 1000px) {
          width: 100%;
        }
      }

      .article-info {
        width: 46%;

        @media (max-width: 1000px) {
          width: 100%;
        }
      }

      .article-tags {
        display: flex;
        gap: 10px;
        padding: 0;

        @media (max-width: 1000px) {
          padding: 22px 0 15px;
        }

        @media (max-width: 650px) {
          padding: 14px 0;
          gap: 8px;
        }
      }

      .article-title {
        padding: 20px 0 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        font-feature-settings: "salt" on, "liga" off;

        @media (max-width: 1000px) {
          padding: 0;
          font-size: 16px;
          line-height: 24px;
        }

        @media (max-width: 650px) {
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
        }
      }

      .article-paragraph {
        @media (max-width: 1000px) {
          display: none;
        }
      }
    }
  }
}
