.blog {
  &__articles {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 50px;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      row-gap: 40px;
      padding: 60px 0 40px;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;
    padding-bottom: 115px;

    @media (max-width: 650px) {
      padding-bottom: 80px;
      justify-content: center;
      font-size: 18px;
    }
  }
  .prev {
    height: 13.52px;
    width: 12px;
    background: url("../img/slider-arrow-prev-mob.svg") 0 0 no-repeat;
  }
  .page-numbers {
    margin: 0 5px;
  }
  .dots {
    align-self: flex-end;

    &:first-of-type {
      margin: 0 -5px 0 18px;
    }

    &:last-of-type {
      margin: 0 18px 0 -5px;
    }
  }
  .current {
    @include gradient-text;
  }
  .next {
    height: 13.52px;
    width: 12px;
    background: url("../img/slider-arrow-next-mob.svg") 0 0 no-repeat;
  }
}
