.heading {
  background-image: url("../img/heading-bcg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 650px) {
    background: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 126px;
    height: 228px;

    @media (max-width: 650px) {
      height: auto;
      margin-top: 76px;
    }
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;

    @media (max-width: 650px) {
      padding: 49px 0 41px;
      background-image: url("../img/heading-bcg.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__paragraph {
    max-width: 73.8%;
    font-size: 14px;
    line-height: 24px;
    font-family: "OpenSans";
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    align-self: center;

    @media (max-width: 650px) {
      max-width: 87.5%;
    }
  }
}

.blog-heading {
  &__title {
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 650px) {
      padding: 49px 0 41px;
      background-image: url("../img/heading-bcg.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-self: center;

    @media (max-width: 650px) {
      max-width: 87.5%;
    }
  }
}
