.info {
  position: relative;
  background-image: url("../img/side-wave.svg");
  background-repeat: no-repeat;
  background-position: bottom left;

  @media (max-width: 650px) {
    background: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 87.6%;
    margin: 0 auto;
    padding: 150px 60px 0 108px;
    gap: 20px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    @media (max-width: 650px) {
      padding: 80px 0;
    }
  }

  &__paragraph {
    font-family: "OpenSans";

    &:first-child {
      padding-bottom: 15px;
    }
  }

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &__icon {
    width: 33px;
    height: 55px;

    @media (max-width: 650px) {
      width: 21px;
      height: 35px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    @media (max-width: 650px) {
      padding: 8px 0 20px;
    }
  }

  &__title-bottom {
    background: -webkit-linear-gradient(#28d6e2, #ea6bf7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__image {
    width: auto;
    z-index: 1;
  }

  &__ellipses {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__wave {
    margin-top: -35px;
    display: none;
  }
}

.about-us-info {
  &__content {
    padding-bottom: 175px;
  }

  &__btn {
    align-self: flex-end;
    margin-top: 20px;
  }
}

.home-info {
  &__content {
    padding-bottom: 235px;
  }
}
