.slider-home {
  background: #211c48;
  padding: 50px 0;
  color: #fff;
  position: relative;

  @media (max-width: 650px) {
    padding: 20px 0;
  }

  &__item {
    text-align: center;

    @media (max-width: 650px) {
      text-align: left;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    @media (max-width: 650px) {
      font-weight: 500;
      line-height: 20px;
    }
  }

  .slider {
    position: relative;
    padding: 0px 40px;

    @media (max-width: 650px) {
      padding: 0 24px;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      // z-index: 10;
      color: #fff;
      transform: translateY(-50%);
      font-size: 0;
      height: 22.54px;
      width: 20px;
      cursor: pointer;

      @media (max-width: 650px) {
        height: 13.52px;
        width: 12px;
      }
    }

    .slick-arrow.slick-prev {
      left: 0;
      background: url("../img/slider-arrow-prev.svg") 0 0 no-repeat;

      @media (max-width: 650px) {
        background: url("../img/slider-arrow-prev-mob.svg") 0 0 no-repeat;
      }
    }

    .slick-arrow.slick-next {
      right: 0;
      background: url("../img/slider-arrow-next.svg") 0 0 no-repeat;

      @media (max-width: 650px) {
        background: url("../img/slider-arrow-next-mob.svg") 0 0 no-repeat;
      }
    }

    .slick-slide {
      margin: 0 10px;

      @media (max-width: 650px) {
        margin: 0;
      }
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}