@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin gradient-text {
  background: -webkit-linear-gradient(#28d6e2, #ea6bf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import "fonts";
$fontFamily: "Montserrat", sans-serif;
@import "common";
@import "header";
@import "banner-home";
@import "footer";
@import "slider-home";
@import "our-benefits";
@import "articles-home";
@import "contact-us";
@import "blog";
@import "heading";
@import "info";
@import "reviews";
@import "our-team";
@import "services-main";
@import "wiki-main";
@import "article-main";
@import "404";
